/* General Section */

:root{
  /* Variables colors */
  --default-sections-color: rgb(245, 239, 235);
  --bg-color-green-light: #CDDAB2;

  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
}
h1,
h2,
h3{
  font-family: "Yeseva One", serif;
  font-weight: 400;
  font-style: normal;
}
h1,
h2{
  color: rgb(14, 39, 21);
}

/* Local Section */

.wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.one-hundred-procent-height{
  height: 100%;
}
.main{
  flex: 1 0 auto;
}
.cross-center{
  align-items: center;
}

/* Media Section */

/* 768px */
@media screen and (min-width: 768px){
  :root{
    font-size: 18px;
  }
}