:root {
  --section-vertical-padding: 4.5rem;

  /* Variables - Colors */
  --default-section-color: #f5efeb;
  --color-green-superdark: #0e2715;
  --color-green-dark: #1a3923;
  --color-green: #31533b;
  --color-green-light: #cddab2;
  --color-green-yellow: #b3b476;
  --color-orange: #ce4115;

  scroll-behavior: smooth;

  color: var(--color-green-dark);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 300;
}

/* General Tags Section */

header,
section,
footer {
  background-color: var(--default-section-color);
}
section {
  padding: var(--section-vertical-padding) 0;
}
h1,
h2,
h3 {
  font-family: "Yeseva One", serif;
  font-weight: 700;
  font-style: normal;
}
h1 {
  color: var(--color-green-superdark);
  line-height: 1;
}
h2 {
  margin-bottom: 2.5rem;
  color: var(--color-green-dark);
  font-size: 2.5rem;
}
h3 {
  margin-bottom: 1.13rem;
  color: #fff;
  font-size: 1.88rem;
}
button {
  border-style: solid;
  font-weight: bold;
}

/* General Classes Section */

.main-space-between {
  justify-content: space-between;
}
.cross-center {
  align-items: center;
}

/* Local Section */

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main {
  flex-grow: 1;
}

/* Media Section */

@media screen and (min-width: 768px) {
  :root {
    font-size: 18px;
  }
  h2 {
    font-size: 3.33rem;
  }
  h3 {
    font-size: 2rem;
  }
}
