:root{
  /* Variables colors */
  --default-section-color: #f5efeb;
  --color-green-superdark: #0E2715;
  --color-green-dark: #1A3923;
  --color-green: #31533b;
  --color-green-light: #cddab2;

  color: var(--color-green);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
}

/* General Tags Section */

h1,
h2,
h3{
  font-family: "Yeseva One", serif;
  /* Это ж вроде с гугла взято и у неё это есть и работает, а мне ток мешает, почему ?????????????????????????????????????????????????????????*/
  /* font-weight: 400; */
  font-style: normal;
}
h1,
h2{
  color: #0e2715;
}

/* General Classes Section */

.cross-center{
  align-items: center;
}
.text-align-center{
  text-align: center;
}
.color-green{
  color: var(--color-green);
}

/* Local Section */

.wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main{
  flex: 1 0 auto;
}

/* Media Section */

/* 768px */
@media screen and (min-width: 768px){
  :root{
    font-size: 18px;
  }
}