.clients {
  --client-image-size: 70px;

  padding-bottom: 7.5rem;
}
.clients-heading {
  margin-bottom: 0;
  text-align: left;
}
.clients-text {
  margin-top: 0.16rem;
  margin-bottom: 2.8rem;
  color: var(--color-green);
  font-size: 1.13rem;
}
.clients-heading,
.clients-text {
  text-align: left;
}
.clients-content-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 290px;
  margin: auto;
}
.client {
  margin-right: 2.5rem;
}
.client:nth-of-type(3n) {
  margin-right: 0;
}
.client-picture,
.client-caption {
  display: block;
  width: var(--client-image-size);
}
.client-picture {
  height: var(--client-image-size);
  margin: auto;
  margin-bottom: 0.31rem;
}
.client-caption {
  margin-bottom: 1.11rem;
  font-size: 0.75rem;
  font-weight: bold;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .clients {
    --client-image-size: 120px;
    padding-top: 6.67rem;
    padding-bottom: 12.9rem;
  }
  .clients-heading,
  .clients-text {
    text-align: center;
  }
  /* Если использование <br> норма !????????????????????????????? */
  .clients-heading {
    line-height: 1;
  }
  .clients-content-container {
    width: 800px;
  }
  .clients-text {
    font-size: 1.11rem;
  }
  .clients-content-container {
    justify-content: center;
  }
  .client,
  .client:nth-of-type(3n) {
    margin-right: 2.22rem;
  }
  /* Плохой код ?????????????????????????????????????? */
  .client:nth-of-type(5),
  .client:nth-of-type(9) {
    margin-right: 0;
  }
  .client-picture {
    margin-bottom: 0.44rem;
  }
  .client-caption {
    font-size: 0.78rem;
  }
}
