.clients{
  padding-bottom: 120px;
}
.clients-header {
  margin-bottom: 0;
  text-align: left;
  line-height: 1;
}
.clients-text {
  margin-top: 0.16rem;
  margin-bottom: 2.8rem;
  color: var(--color-green);
  text-align: left;
}
.clients-container {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}
.client {
  width: 70px;
  margin-right: 2.5rem;
}
.client-icon {
  display: inline-block;
  width: 4.38rem;
  height: 4.38rem;
  background-image: url(./../icons/circle.svg);
  background-repeat: no-repeat;
}
.client-caption {
  display: block;
  margin-bottom: 1.25rem;
  font-size: 0.75rem;
  font-weight: bold;
  text-align: center;
}