footer {
  padding: 2.5rem 0;
}
.footer-contact-menu-link {
  --footer-contact-menu-link-size: 30px;

  width: var(--footer-contact-menu-link-size);
  height: var(--footer-contact-menu-link-size);
}
.footer-copyright {
  padding-top: 1.25rem;
  color: var(--color-green);
  font-size: 0.63rem;
  font-weight: 300;
  text-align: center;
}

@media screen and (min-width: 768px) {
  footer {
    padding: 2.11rem 0;
  }
  .footer-logo {
    font-size: 1.78rem;
    line-height: 1.1;
  }
  .footer-contact-menu {
    display: flex;
    justify-content: flex-end;
  }
  .footer-contact-menu-link {
    --footer-contact-menu-link-size: 40px;
  }
  .footer-copyright {
    padding-top: 1.18rem;
    font-size: 0.78rem;
  }
}
