footer{
  padding: 2.5rem 0;
}
.footer-logo{
  padding-left: 0;
}
.footer-contact-menu-link {
  width: 30px;
  height: 30px;
}
.copyright{
  padding-top: 1.25rem;
  color: var(--color-green);
  font-size: 0.63rem;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .footer-logo{
    margin-left: 3.93rem;
    font-size: 1.78rem;
    line-height: 1.1;
  }
  .copyright{
    font-size: 0.78rem;
  }
}