.header {
  padding: 1.63rem 0;
  color: #0e2715;
  background-color: var(--default-section-color);
}
.header-container{
  display: flex;
  justify-content: space-between;
}
.page-nav {
  text-align: right;
  position: relative;
}
.burger {
  --burder-size: 23px;

  display: inline-block;
  /* A little bit more then in figma layout becouse it's uncorrect value in figma if you zoom in it */
  width: var(--burder-size);
  height: var(--burder-size);
  background-image: url(./../icons/menu.svg);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
.main-menu {
  width: 140px;
  padding: 1.19rem 0.75rem 1.13rem;
  background-color: #fff;
  font-size: 0.88rem;
  text-align: left;
  position: absolute;
  right: 0;
}
.page-nav:hover > .main-menu {
  display: block;
}
.main-menu-item:not(:last-child) {
  border-bottom: 1px solid #c4c4c4;
}
.main-menu-link {
  display: inline-block;
  padding: 1em 0.5em;
}
.main-menu-link::before {
  content: "";
  display: inline-block;
  width: 3px;
  height: 10px;
  margin-right: 0.25rem;
}
.main-menu-link:hover::before {
  background-color: #8b8c4a;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 1.22rem;
  }
  .burger {
    display: none;
  }
  .main-menu {
    width: 100%;
    padding: 0;
    background-color: transparent;
    font-size: 1.1rem;
    text-align: right;
    /* Возвращаем position назад */
    position: static;
  }
  .main-menu-item {
    display: inline-block;
  }
  .main-menu-item:not(:last-child) {
    border-bottom: none;
  }
  .main-menu-link::before {
    width: 4px;
    height: 15px;
  }
}
