.recommendations {
  --recommendation-image-size: 100px;
  --recommendation-image-margin-right: 0.81rem;

  background-color: var(--color-green-yellow);
}
.recommendations-heading {
  color: var(--color-green-superdark);
}
.recommendations-flexbox {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.recommendation {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1.25rem;
}
.recommendation-picture {
  width: var(--recommendation-image-size);
  height: var(--recommendation-image-size);
}
.recommendation-container {
  /* display: inline-flex; */
  /* flex-direction: column; */
  /* justify-content: space-between; */
  width: calc(
    100% - var(--recommendation-image-size) -
      var(--recommendation-image-margin-right)
  );
}
.recommendation-text {
  display: block;
  margin-bottom: 0.44rem;
  font-size: 1.13rem;
}
.recommendation-button {
  display: block;
  width: 147px;
  height: 37px;
  color: #fff;
  background-color: var(--color-orange);
  font-size: 0.88rem;
  text-transform: uppercase;
}
.recommendation-button::before {
  content: url(./../icons/cursor.svg);
  display: inline-block;
  width: 13px;
  height: 13px;
  margin-right: 0.47rem;
}

@media screen and (min-width: 768px) {
  .recommendations {
    --recommendation-image-size: 120px;
  }
  .recommendations-flexbox {
    flex-direction: row;
    justify-content: space-between;
  }
  .recommendation-picture {
    --recommendation-image-size: 120px;
  }
  .recommendation-text {
    font-size: 1.11rem;
  }
  .recommendation {
    margin-right: 3.33rem;
  }
}
