.review {
  color: var(--color-green-superdark);
  background-color: var(--color-green-light);
}
.review-container {
  position: relative;
}
.review-comma-decoration {
  display: inline-block;
  width: 42px;
  height: 40px;
  background-image: url(./../icons/comma.svg);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  position: absolute;
  top: -86px;
}
.review-text-content * {
  font-size: 0.88rem;
}
.review-arrow-left {
  background-image: url(./../icons/review-arror-left.svg);
}
.review-arrow-right {
  background-image: url(./../icons/review-arror-right.svg);
}
.review-arrow-left,
.review-arrow-right {
  width: 10px;
  height: 20px;
  margin: auto;
  background-repeat: no-repeat;
  background-position-x: center;
  cursor: pointer;
}
.review-text-content > p:last-of-type {
  margin-bottom: 0;
}
.review-author {
  display: block;
  padding-top: 1.19rem;
  text-align: right;
}

@media screen and (min-width: 768px) {
  .review-text-content * {
    font-size: 1rem;
  }
  .review-comma-decoration {
    width: 105px;
    height: 200px;
    top: -120px;
  }
}

@media screen and (min-width: 1280px) {
  .review {
    background-image: url(./../images-no-cach/leaf-right.png);
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 85%;
  }
}
