.review {
  background-color: var(--color-green-light);
}
.review * {
  font-size: 0.88rem;
}
.review-container {
  position: relative;
}
.review-comma-decoration {
  display: inline-block;
  flex-grow: 0;
  width: 42px;
  height: 40px;
  background-image: url(./../icons/comma.svg);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;

  position: absolute;
  top: -86px;
}
.review-arrow-left {
  display: inline-block;
   /* ?????????????????????????????????????????????? */
   flex-grow: 0;
  width: 10px;
  height: 20px;
  /* margin: auto; */
  background-image: url(./../icons/review-arror-left.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  /* background-size: cover; */
  cursor: pointer;
}
.review-arrow-right {
  display: inline-block;
  width: 10px;
  height: 20px;
  background-image: url(./../icons/review-arror-right.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  /* background-size: cover; */
  cursor: pointer;
}
.review-text > p:last-child {
  padding-bottom: 1.625rem;
}
.review-author {
  display: block;
  /* width: 100%; */
  padding-top: 1.19rem;
  text-align: right;
}

@media screen and (min-width: 768px) {
  .review-text {
    font-size: 1rem;
  }
  .review-author {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1280px) {
  .review {
    background-image: url(./../icons/leaf-right.png);
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 85%;
  }
  .review-comma-decoration {
    width: 105px;
    height: 200px;
    top: -120px;
  }
}
