.services {
  color: var(--color-green-light);
}
.service {
  padding: 2.38rem 1.19rem;
  border: 2px solid black;
  margin-bottom: 1.25rem;
  background-color: var(--color-green);
}
.service:last-of-type {
  margin-bottom: 0;
}
.service-heading {
  margin-right: 0.25rem;
}
.service-heading-tip {
  margin: -0.94rem 0 0.69rem;
  font-size: 0.88rem;
}
.service-description {
  margin: 0;
}
.service-button-dropdown-style {
  display: block;
  width: 100%;
  height: 57px;
  padding-left: 1rem;
  padding-right: 7.5rem;
  border-color: #fff;
  margin-bottom: 0.5rem;
  background-color: var(--color-green-yellow);
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.6);
  text-align: left;
  position: relative;
}
.service-button-dropdown-style:first-of-type {
  margin-top: 1.25rem;
}
.service-button-dropdown-style::after {
  content: url(./../icons/arrow-down.svg);
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 0.8rem;
  transform: translateY(-50%);
}
/* Исправить код ниже чтобы заработал и где-то еще лест чайлд писал
в другом коде. там наверное лест оф тайп тоже! */
/* .service > .service-button-dropdown-style:last-of-type{
  margin-bottom: 1.25rem;
} */
/* ОПТИМИЗАЦИЯ, ОСОБЕННО ПОХОЖИХ КНОПОК НИЖЕ !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.service-button-portfolio {
  display: block;
  width: 90%;
  height: 45px;
  border: 2px solid var(--color-orange);
  margin: 1.25rem auto 0;
  color: #fff;
  background-color: transparent;
  text-transform: uppercase;
}
.service-button-portfolio:before {
  --service-portfolion-button-size: 22px;

  content: url(./../icons/behance-white.svg);
  display: inline-block;
  width: var(--service-portfolion-button-size);
  height: var(--service-portfolion-button-size);
  margin-right: 0.44rem;
  vertical-align: bottom;
}
.service-button-check {
  display: block;
  width: 90%;
  height: 45px;
  margin: 1.25rem auto 0;
  color: #fff;
  background-color: var(--color-orange);
  text-transform: uppercase;
}
.service-button-check:before {
  content: url(./../icons/check.svg);
  display: inline-block;
  margin-right: 0.44rem;
}
.service-button-portfolio + .service-button-check {
  margin-top: 0.5rem;
}

@media screen and (min-width: 768px) {
  .service {
    padding: 3.33rem 2.28rem;
  }
  .service:nth-of-type(3) {
    --service-nth-3-horizontal-padding: 4.44rem;

    padding-left: var(--service-nth-3-horizontal-padding);
    padding-right: var(--service-nth-3-horizontal-padding);
  }
  .service-heading-tip,
  .service-button-dropdown-style {
    font-size: 0.89rem;
  }
  .service-description {
    /* ОТРЕДАЧИТЬ ОТСТУП !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
    margin-right: 3.5rem;
  }
  .service:nth-of-type(3) .service-description {
    margin-right: 2.5rem;
  }
  .service-button-dropdown-style {
    margin-top: 1.67rem;
    margin-bottom: 0;
    padding-right: 9.61rem;
  }
  /* Подняли вес селектора */
  .service .service-como-funciona {
    margin-top: 2.22rem;
  }
  .service-button-dropdown-style ~ .service-button-dropdown-style {
    margin-top: 0.67rem;
  }
  .service-buttons-flexblock {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 1.67rem;
  }
  /* Подняли вес селектора */
  .service .service-buttons-flexblock > * {
    width: 47%;
    margin: 0;
  }
  .service-button-portfolio {
    margin-top: 2.22rem;
  }
  .service-button-check {
    margin-top: 2.22rem;
  }
  .service-button-portfolio,
  .service-button-check {
    height: 57px;
  }
}
