.welcome {
  padding-top: 2.5rem;
  padding-bottom: 0;
  background-color: var(--color-green-light);
}
.welcome-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0;
  padding-bottom: 2.94rem;
}
.welcome-heading {
  /* margin-top: 6rem; */
  font-size: 2.87rem;
}
.welcome-text {
  margin-top: 0;
  margin-bottom: 1rem;
  /* Отрицательный марджин ставить ??????????????????????????????? */
  color: var(--color-green);
  font-size: 0.75rem;
}
.welcome-photo-ana {
  display: block;
  width: 100%;
}

@media screen and (min-width: 768px){
  .welcome-heading{
    font-size: 5.3rem;
  }
  .welcome-text {
    font-size: 1.56rem;
  }
}

/* @media screen and (min-width: 900px){
  .welcome-heading{
    font-size: 6rem;
  }
  .welcome-text {
    font-size: 1.75rem;
  }
} */

@media screen and (min-width: 1280px){
  .welcome {
    background-image: url(./../icons/leaf.png);
    background-repeat: no-repeat;
    background-position-y: 70px;
  }
}