.welcome {
  background-color: var(--bg-color-green-light);
}
.welcome-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.welcome-heading {
  font-size: 2.87rem;
}
.welcome-text {
  /* Отрицательный марджин ставить ??????????????????????????????? */
  margin-top: 0;
  font-size: 0.75rem;
}
.photo {
  display: block;
  height: 100%;
}

@media screen and (min-width: 768px){
  .welcome-heading{
    font-size: 3.8rem;
  }
  .welcome-text {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 900px){
  .welcome-heading{
    font-size: 5.3rem;
  }
  .welcome-text {
    font-size: 1.75rem;
  }
}

@media screen and (min-width: 1280px){
  .welcome {
    background-image: url(./../icons/leaf.png);
    background-repeat: no-repeat;
    background-position-x: -20px;
    background-position-y: 70px;
  }
}