.welcome {
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
  background-color: var(--color-green-light);
}
.welcome-container {
  display: flex;
  padding-right: 0;
}
.welcome-content {
  margin-top: 6rem;
}
.welcome-heading {
  /* margin-top: 6rem; */
  font-size: 2.87rem;
}
.welcome-text {
  margin-top: 0;
  margin-bottom: 1rem;
  /* Отрицательный марджин ставить ??????????????????????????????? */
  color: var(--color-green);
  font-size: 0.75rem;
}
/* РАЗОБРАТЬСЯ КУДА ЧТО ПРОПИСЫВАТЬ В ПИКЧЮР ИЛИ ИМЕДЖ */
.welcome-ana-picture {
  margin-top: 2.5rem;
}
.welcome-ana-picture > img {
  display: block;
  width: 158px;
  height: 250px;
  margin-right: 0.31rem;
}

@media screen and (min-width: 768px) {
  .welcome-content {
    margin-top: 9.67rem;
  }
  .welcome-heading {
    font-size: 5.3rem;
  }
  .welcome-text {
    font-size: 1.56rem;
  }
  .welcome-ana-picture {
    margin-top: 1.11rem;
  }
  .welcome-ana-picture > img {
    width: 390px;
    height: 582px;
  }
}

/* @media screen and (min-width: 900px){
  .welcome-heading{
    font-size: 6rem;
  }
  .welcome-text {
    font-size: 1.75rem;
  }
} */

@media screen and (min-width: 1280px) {
  .welcome {
    background-image: url(./../images-no-cach/leaf-left.png);
    background-repeat: no-repeat;
    background-position-y: 70px;
  }
}
